/* GENERAL */

*{
    box-sizing: border-box;


}
body{
    margin: 0;
    color: #6F6F6F;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;;
}
p {
    text-align: justify;
}

.container-fluid{
    padding: 0 ;
}
.fa-angle-double-up{
    color: #C89446;
}
#dashboard {
    background: #BAAA9D ;
}

h3{
    color: #C89446 ;
    font-family: 'Pinyon Script', cursive;
    font-size: 2.5rem;
}
h4{
    color: #383636;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2rem;
}
h5{
    color: #383636;
    font-weight: bold;
}
h6{
    color: #383636 ;
    font-weight: bold;
}


.image-admin{
    width: 20%;
}

.btn-primary {

    background-color: #383636;
    border-color: #383636;
    border-radius: 5px;
    margin-top: 5px;
}
.btn-primary:hover{
    background-color: #C89446;
    border-color: #C89446;

}

.btn-danger {

    background-color: #9F1A06 ;
    border-color: #9F1A06 ;
    border-radius: 5px;
}

/*HEADER*/
header{
    background: #DBD1CB;
}


header p{
    color: #fff;
}

#animate{
    cursor: pointer;
}


/* NAVBAR */
.navbar{
    background-color: #DBD1CB !important;
    letter-spacing: 5px;
}


.navbar-light .navbar-toggler
{

    border-color: #fff;
}

.navbar-toggler-icon{
    background-color: #fff ;
}
header nav a, header ul li a{
    color: #FFF !important;
    text-decoration: none;
}
header nav a:hover{
    color: #C89446 !important;
    transition: 0.3s;
}
header nav .btn{
    background: transparent;
    /* color: #000; */
}header nav .btn:hover{
     background: #C89446 ;
     color: #fff;
 }
header nav .reserver:hover{
    background: #C89446 ;
    color: #fff;
    transition: 0.5s;
}
header nav li{
    list-style-type: none;
}
header h1{
    /* color: #000; */
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 3.8rem;
    letter-spacing: 12px;
}
h2, header h2{
    /* color: #000; */
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.6rem;
}

header p{
    font-size: 1rem;
}

#bienvenue{
    height: 90vh;
    background: url(../img/bg2.jpeg) no-repeat center center;
    background-size: cover;
}
#apropos{
    padding-top: 200px;
}
#bienvenue h1{
    color: #383636;
    font-size: 3.5rem;
    letter-spacing: 5px;

}
#bienvenue h2{
    color: #383636;
}
section #apropos h3{
    font-family: 'Pinyon Script', cursive;
    font-size: 6.9rem;
    margin: 0;
    color: #C89446 ;

}

/* MENUS */
section{
    position: relative;
    z-index: 1;
}

#nom{
    color: #6F6F6F !important;
}

/* GOOGLE MAP */
#googlemap iframe{
    width: 100%;
}

/* METEO */
#meteo h6 {
    font-size:2em ;
    /* color: #000; */
}

#changer {
    font-size: 1.5em ;
    cursor: pointer;
    width: 230px;
}

#ville {
    text-transform: uppercase;
    /* color: #000; */
}

#temperature {
    font-size: 4em;
    color: #C89446;
}

#changer p {
    margin-bottom: 0;
}

#back-to-top {
    position: fixed;
    bottom: 120px;
    right: 50px;
}

#back-to-top i {
    font-size: 30px;
}

/* FOOTER */
footer{

    background: #DBD1CB;
    color: #fff;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */

}

footer a{
    color: #FFFFFF;
    text-decoration: none;
}
footer a:hover{
    color: #C89446;

}


footer .col-md-3, footer .col-md-3{
    width: 30%;
}

/* MEDIA QUERIES */

@media (min-width: 577px) and (max-width: 770px){

    #apropos{
        padding-top: 0;
    }
    
}

@media (max-width: 576px){
    #propos{
        padding-top: 0;
    }

    section #apropos p {
        font-size: 5rem;
    }
    #bienvenue{
        height: 50vh;
        background: url(../img/bg2.jpeg) no-repeat center center;
        background-size: cover;
    }
    #bienvenue h1 {
        color: #383636;
        font-size: 2.5rem;
    }
    
    header{
        height: 50vh;
        background: #DBD1CB;
    }
    
    nav {
        flex-wrap: wrap;
    }
    
    section .prix{
        font-size: 3rem;
    }
    
    footer{
        background: #DBD1CB;
        color: #fff;
        position: relative;

    }

    #back-to-top i {
        display: none;
    }

  
}



