/* GENERAL */

@font-face {
    font-family: "cour";
    src: url(../fonts/cour.ttf);
  }

* {
    box-sizing: border-box;
}

body {
    background-color: #FFDCE7;
    margin: 0;
    color: #6F6F6F;
    font-family: 'cour',serif;
    font-size: 1rem;
    letter-spacing: 1px;

}

.banner-image {
    background-image: url('../img/halinh16.jpg');
    background-size: cover;
    
}

.bg-dark {
    background: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

p {
    text-align: justify;
}

.container-fluid {
    padding: 0;
    position: relative;
}

.fa-angle-double-up {
    color: #383636;
}

.card-body {
    background: #F3C4CF;
}

h3 {
    color: #383636;
    font-family: 'Pinyon Script', cursive;
    font-size: 2.5rem;
}

h4 {
    color: #383636;
    font-weight: lighter;

    font-size: 2rem;
}

h5 {
    color: #383636;
    font-weight: bold;
}

h6 {
    color: #383636;
    font-weight: bold;
}

table td {
    color: #6F6F6F;
    border: black ;
}

th {
    color: #383636;

}

.btn-primary {

    background-color: #383636;
    border-color: #383636;
    margin-top: 5px;
    border-radius: 0 !important;
}

.btn-primary:hover {
    background-color: #C89446;
    border-color: #C89446;
}
#link-rdv:hover {
    background-color: white;
    border-color: white;
}

.btn-danger {

    background-color: #9F1A06;
    border-color: #9F1A06;
}

/*HEADER*/

header {
    background: #DBD1CB;
}

header p {
    color: #fff;
}

.animate {
    cursor: pointer;
}

/* NAVBAR */
.navbar {
    letter-spacing: 5px;
}

.navbar-toggler-icon {
    background-color: #FFDCE7;
}

.navbar .fa-facebook, .fa-instagram {
    color: #FFF;
    font-size: 2rem;
}
.navbar .fa-facebook:hover, .fa-instagram:hover{
    color: #C89446;
    }

*/ header nav a,
header ul li a {
    color: #FFF !important;
    text-decoration: none;
    
}

header nav a:hover {
    color: #C89446 !important;
    transition: 0.3s;
}

header nav .btn {
    background: transparent;
    color: #000;
}

header nav .btn:hover {
    background: #C89446;
    color: #fff;
}

header nav .reserver:hover {
    background: #C89446;
    color: #fff;
    transition: 0.5s;
}

header nav li {
    list-style-type: none;
}

header h1 {
    color: #383636;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 3.8rem;
    letter-spacing: 12px;
}

h2,
header h2 {
    color: #383636;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.6rem;
}

header p {
    font-size: 1rem;

}
.nav-link{
    font-size: 20px;
    color: #FFF !important;
}

#presentation {
    background: #FFDCE7;
    margin: 0;

}

#presentation img {
    width: 100%;
}

#bienvenue {
    height: 70vh;
}

#bienvenue h1 {
    color: #fff;
    font-size: 3.5rem;
    letter-spacing: 5px;
}

#bienvenue h2 {
    font-size: 1.2rem;
    color: #fff;
    padding-bottom: 150px;
}

section #apropos h3 {
    font-family: 'Pinyon Script', cursive;
    font-size: 6.5rem;
    margin: 0;
    color: goldenrod;
}

#propos h3 {
    color: #C89446;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;

}

.fal {
    color: #fff;
}

.banner-image a {
    color: #fff;
    font-size: 22px;
}

.banner-image a:hover {
    color: #C89446;
}


/* PRESTATIONS */
section {
    position: relative;
    z-index: 1;
}


#prestation {
    margin: 0;
    background-color: #F3C4CF;
}

#nom {
    color: #6F6F6F !important;
}


table p {
    font-family: 'Pinyon Script', cursive;
    font-size: 2.5rem;
    margin: 0;
    color: #383636;
    font-weight: lighter;
}

/*BLOG*/
#blog {
    margin: 0;
    background-color: #FFDCE7;
}

#blog h2 {
    margin-top: 50px;
}


/* GOOGLE MAP */
#googlemap iframe {
    width: 100%;
}

.titre-blog {
    font-size: 1rem;
}

/* METEO */
#meteo {
    margin: 0;
    background: #DBD1CB;
}

#meteo h6 {
    font-size: 2em;
    color: #383636;
}


#changer {
    font-size: 1.2em;
    cursor: pointer;
    width: 230px;
}

#ville {
    text-transform: uppercase;
    color: #383636;
    ;
}

#temperature {
    font-size: 4em;
    color: #fff;
}

#changer p {
    margin-bottom: 0;
}

/*CONTACT*/
#contact {
    margin: 0;
    background-color: #FFDCE7;
}

#back-to-top {
    position: fixed;
    bottom: 120px;
    right: 50px;
}



#back-to-top i {
    font-size: 30px;
}

/* FOOTER */
footer {
    background: #F3C4CF;
    color: #6F6F6F;
}

footer a {
    color: #6F6F6F;
    text-decoration: none;
}

footer a:hover {
    color: white;

}

footer h6 {
    margin-top: 20px;
}

/* MEDIA QUERIES */

@media (min-width: 577px) and (max-width: 770px) {

    p {
        text-align: left;
    }

    #apropos {
        padding-top: 0;
    }

    #presentation img {
        width: 100%;
    }

    header {
        height: auto;
    }

    #bienvenue {
        height: auto;
        background-size: cover;
    }

    section #apropos h3 {
        font-size: 2.5rem;
    }

}

@media (max-width: 576px) {
    body {
        letter-spacing: none;
    }

    .banner-image {
        background-image: url('../img/halinh18.jpg');
    }

    p {
        text-align: left;
    }

    #link-rdv:hover {
        background-color: #C89446;
        border-color: #C89446;
    }

    .banner-image a {
        color: #FFF !important;
    }

    .fal {
        color: #FFF;
    }


    section #apropos p {
        font-size: 5rem;
    }

    section #apropos h1 {
        font-size: 1rem;
    }

    section #apropos h2 {
        font-size: 0.7rem;
    }

    .image img {
        width: 100%;
        height: 100%;
    }

    #bienvenue {
        height: auto;
        background-size: cover;
    }

    #bienvenue h1 {

        font-size: 1.5rem;
    }

    #bienvenue h2 {

        font-size: 0.9rem;
        padding-bottom: 100px;
    }
    #propos p{
        text-align :start;
    }

    section #apropos h3{
        color: #fff;
        font-size: 2rem;

    }

    header {
        height: auto;
    }

    table p {
        font-size: 2rem;
    }

    nav {
        flex-wrap: wrap;
    }
    nav .fa-instagram {
        margin-top: 8px;
    }

    #blog h2 {
        margin-top: 20px;
    }

    #changer {
        width: 180px;
    }

    #temperature {
        font-size: 3rem;
    }


    #back-to-top i {
        display: none;
    }

}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;

    }
}