{% extends 'base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style1.css') }}">
{% endblock %}

{% block title %}Categorie{% endblock %}

{% block body %}
<div class="container">
        <h1>Categorie</h1>

        {% form_theme formCategorie 'bootstrap_5_layout.html.twig' %}
        {{ form_start(formCategorie) }}
        {{ form_widget(formCategorie) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(formCategorie) }}
</div>


{% endblock %}